<%- include('partials/header', { title: title }) %>
<div class="error-wrap">
  <div class="error-code code-<%= status %>"><%= status %></div>
  <p class="error-msg"><%= message %></p>
  <% if (currentUser) { %>
    <a href="/dashboard" class="btn">Voltar ao painel</a>
  <% } else { %>
    <a href="/login" class="btn">Ir para o login</a>
  <% } %>
</div>
</body>
</html>
